version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "8700:8700"
    environment:
      - PORT=8700
    restart: always

  client:
    build: ./client
    ports:
      - "3700:80"
    depends_on:
      - server
    restart: always
