version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    restart: always

  client:
    build: ./client
    ports:
      - "8080:80"
    depends_on:
      - server
    restart: always
